// colors
$green: #6aff7f;
$blue: #032c9e;
$dark-blue: #1b2550;
$hover-blue: #012572;
$main-font: #fff;
$red: #fb516e;
$blue-font: #778fc3;
$nav-blue-font: #48547c;
$title-line: #33cbcc;
$blog-text: #5882f5;